
.container{
    max-width: 1460px;
    height: 100%;
}

body{
    font-family: var(--Josefin);
}

.admin{
    background: var(--primary-bg);
}
.admin-header{
    background: var(--primary-bg);
    height: 6rem;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 20;
    font-family: var(--Josefin);
    box-shadow: 0px -4px 10px rgba(68, 68, 68, 0.6)
}

.admin-navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.brand{
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  font-weight: 500;
}

.header-column-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-name{
    font-size: 1.5rem;
}
.admin-image{
    width: 3rem;
    height: 3rem;
    margin-left: 1rem;
    margin-right: 3rem;
}

.admin-body{
    display: grid;
    grid-template-columns: 20% 80%;
}

.side-bar{
    background: var(--primary-bg);
    position: sticky;
    height: calc(100vh - 6rem);
    border-right: 1.5px solid var(--secondary-bg);
}
.sidebar-content{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
}
.body-content{
    padding: 5rem 1.5rem;
}

.nav-item{
    margin-bottom: 2rem;
}

.nav-link{
    display: flex;
    align-items: center;
    font-size: 2rem;
}

.nav-icon{
    margin-right: 1rem;
}
.icon{
    fill: currentColor;
}

/* .category-container{
    background: var(--secondary-bg);
} */

.category-title{
    padding: 3rem;
    font-size:3rem;
    font-family: var(--Josefin);
    color: var(--primary-text);
    text-transform: uppercase;
    background: var(--secondary-bg);
}

.category-table{
    margin-top: 5rem;
}

.table-head{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.add-button{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.empty-category{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex-direction: column;
}

.empty-text{
    margin-top: inherit;
    font-size: 3rem;
    font-family: var(--Montserrat);
}

table{
    width: 100%;
    margin-top: 3rem;
    font-family: var(--Josefin);
}

thead th {
    font-weight: 800;
    background: var(--primary-text);
    color: #FFF;
    font-size: 2rem;
    text-transform: uppercase;
  }

  tr {
    background: #FFF;
    border-bottom: 1px solid #FFF;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 2rem;
  }

  tr:nth-child(even) {
    background: #EFEFEF;
  }
  
  th, td {
    text-align: left;
    padding: 2rem;
    font-weight: 300;
    vertical-align: middle !important;
  }

  .action-column .bt-content{
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
  }

  .category-edit{
      padding-right: 3rem;
  }

  .category-picture{
      width:  6rem;
      height: 6rem;
  }


@media(max-width: 768px){
    .brand{
        font-size: 2.5rem;
    }

    .admin-image{
        margin-right: 0rem;
    }

    .admin-body{
        display: block;
    }

    .side-bar{
        height: 0;
        width: 0;
        transform: translateX(-10rem);
        opacity: 0;
        transition: all .1s;
    }

    .body.menu-open .side-bar{
        position: fixed;
        display: block;
        width: 70vw;
        left: 0;
        height: calc(100vh - 6rem);
        z-index: 15;
        transform: translateX(0);
        opacity: 1;
    }

    .nav-item {
        margin-bottom: 4rem;
      }
    
      .nav-item a{
        font-size: 2rem;
      }

    .sidebar-content{
        padding-top: 5rem;
        align-items: center;
    }

    .body-content{
        padding: 3rem 0rem;
    }

    .category-title{
        font-size: 2rem;
        padding: 3rem 1.5rem;
    }

    .category-table{
        margin-top: 2rem;
    }

    .add-button{
        font-size: 1.2rem;
        padding: 8px 10px;
    }

    thead th, tr{
        font-size: 1.5rem;
    }
}