@model Minimal.Models.Category
@{
    ViewData["Title"] = "Category Page";
}

<div class="category-container">
    <div class="category-title">
        Product Categories
    </div>

    <div class="category-table">
        this is a table
    </div>
</div>